@page "/contacts"
@inject HttpClient Http
@inject NavigationManager Navigation

<h3 style="margin-top: 100px">Контакты</h3>

<button @onclick="GetEducator" class="btn btn-primary">Получить преподавателя</button>
<button @onclick="GoToEducatorCard" class="btn btn-primary">Получить</button>

@if (isLoading)
{
    <p>Загрузка...</p>
}
else if (educator != null)
{
    <div style="margin-top: 20px">
        <p>ID: @educator.Id</p>
        <p>ФИО: @educator.FullName</p>
        <p>Степень: @educator.AcademicDegree</p>
        <p>дисциплины: @string.Join(" , ", educator.EducatorAdditionalInfo.EducatorDisciplines.Select(x => x.Discipline.NameDiscipline))</p>
        <img src="@educator.EducatorAdditionalInfo.GetIMG()"/> 
    </div>
}
else if (errorMessage != null)
{
    <p style="color: red;">Ошибка: @errorMessage</p>
}